.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  background-color: #ebf4f7;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

.app-header {
  min-width: 100vw;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: black;
}

.pokemon-entry{
  width: 240px;
  height: 240px;
  background-color: white;
  box-shadow: 0 0 5px 0px grey;
  color: #282c34;
  border-radius: 5px 5px 5px 5px;
  margin: 1em;
  transition: transform 0.1s ease-in;
}

.pokemon-entry:hover{
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.pokemon-entry-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  padding: 0;
  border-radius: 5px 5px 0px 0px;
}

.pokemon-entry-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-types-list{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 0.5em;
}

.pokemon-thumbnail{
  width: 128px;
  height: 128px;
  margin-top: 8px;
}

.pokemon-type-entry{
  font-weight: bold;
}

.type-text-default{
  color: black;
}

.type-text-grass{
  color: #a3d483;
}

.type-text-fire{
  color: #df6c50;
}

.type-text-water{
  color: #5b9ddb;
}

.type-text-bug{
  color: #c1dd65;
}

.type-text-poison{
  color: #72467a;
}

.type-text-flying{
  color: #957c99;
}

.type-text-normal{
  color: #aeaf9c;
}

.type-text-electric{
  color: #ffcf4a;
}

.type-text-ground{
  color: #e2c678;
}

.type-text-fairy{
  color: #f1b1c9;
}

.type-text-fighting{
  color:  #bb2b43;
}

.type-text-psychic{
  color: #ff6ea3;
}

.type-text-rock{
  color: #ac9045
}

.type-text-ghost{
  color: #59475c;
}

.type-text-ice{
  color: #81e4df;
}

.type-text-dragon{
  color: #6b2179;
}

.type-text-dark{
  color: #3d3d3d;
}

.type-text-steel{
  color: #c5bdbd;
}

.type-grass{
  background-color: #a3d483;
}

.type-fire{
  background-color: #df6c50;
}

.type-water{
  background-color: #5b9ddb;
}

.type-bug{
  background-color: #c1dd65;
}

.type-poison{
  background-color: #72467a;
}

.type-flying{
  background-color: #957c99;
}

.type-normal{
  background-color: #aeaf9c;
}

.type-electric{
  background-color: #ffcf4a;
}

.type-ground{
  background-color: #e2c678;
}

.type-fairy{
  background-color: #f1b1c9;
}

.type-fighting{
  background-color:  #bb2b43;
}

.type-psychic{
  background-color: #ff6ea3;
}

.type-rock{
  background-color: #ac9045;
}

.type-ghost{
  background-color: #59475c;
}

.type-ice{
  background-color: #b5f3f0;
}

.type-dragon{
  background-color: #6b2179;
}

.type-dark{
  background-color: #3d3d3d;
}

.type-steel{
  background-color: #c5bdbd;
}

.pokedex-options{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}

.pokemon-number{
  margin-right: 0.5em;
  color: rgba(114, 114, 114, 0.726);
}

.pokemon-name{
  margin-left: 0.5em;
  color: white;
  text-shadow: 0px 0px 5px black;
}

@media only screen and (min-width: 450px) {
  .pokedex-container{
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  #pokemon-search{
    font-family: "Rubik", sans-serif;
    width: 100%;
    height: 3vh;
    font-size: 1.5em;
    border: 0;
    outline: 0;
    border-bottom: 2px solid gray;
    background-color: inherit;
    transition: border-color 0.2s;
    margin-bottom: 0.5em;
  }
  
  #pokemon-search:focus{
    border-color: green;
  }
  
  #gen-select{
    font-family: "Rubik", sans-serif;
    width: 100%;
    height: 3vh;
    border: 2px solid gray;
    background-color: inherit;
  }
}

@media only screen and (min-width: 600px) {
  .pokedex-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    width: 80vw;
  }

  #pokemon-search{
    font-family: "Rubik", sans-serif;
    width: 100%;
    height: 3vh;
    font-size: 1.5em;
    border: 0;
    outline: 0;
    border-bottom: 2px solid gray;
    background-color: inherit;
    transition: border-color 0.2s;
  }
  
  #pokemon-search:focus{
    border-color: green;
  }
  
  #gen-select{
    font-family: "Rubik", sans-serif;
    width: 100%;
    height: 3vh;
    border: 2px solid gray;
    background-color: inherit;
  }
}

@media only screen and (min-width: 900px) {
  .pokedex-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    width: 80vw;
  }

  #pokemon-search{
    font-family: "Rubik", sans-serif;
    width: 50%;
    height: 3vh;
    font-size: 1.5em;
    border: 0;
    outline: 0;
    border-bottom: 2px solid gray;
    background-color: inherit;
    transition: border-color 0.2s;
  }
  
  #pokemon-search:focus{
    border-color: green;
  }
  
  #gen-select{
    font-family: "Rubik", sans-serif;
    width: 30%;
    height: 3vh;
    border: 2px solid gray;
    background-color: inherit;
  }
}

@media only screen and (min-width: 1200px) {
  .pokedex-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: start;
    width: 57vw;
    align-items: center;
  }

  #pokemon-search{
    font-family: "Rubik", sans-serif;
    width: 50%;
    height: 3vh;
    font-size: 1.5em;
    border: 0;
    outline: 0;
    border-bottom: 2px solid gray;
    background-color: inherit;
    transition: border-color 0.2s;
  }
  
  #pokemon-search:focus{
    border-color: green;
  }
  
  #gen-select{
    font-family: "Rubik", sans-serif;
    width: 30%;
    height: 3vh;
    border: 2px solid gray;
    background-color: inherit;
  }
}