.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  background-color: #282c34;
}

.app-header {
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pokedex-container{
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  row-gap: 1em;
}

.pokemon-entry{
  width: 240px;
  height: 240px;
  background-color: white;
  color: #282c34;
}

.pokemon-entry-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  padding: 0;
}

.pokemon-entry-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-entry-h4{
  margin-left: 0.5em;
}
