.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  background-color: #282c34;
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Pokemon-Entry{
  min-width: 50vw;
  margin: 1em;
  background-color: white;
  border-radius: 20px;
  color: #282c34;
}